# Object files
*.o
# Linux libraries
*.a
*.so
# Windows libraries
*.lib
*.dll
# Default image path
disk.image
# Executables
*.exe
*.out
*.app
# UNIX/Linux/Mac Executable
bmfs
bmfs-create
bmfs-fuse
disk-test
dir-test
sspec-test
# Mac crap
.DS_Store
