# CMake build directory
build
# Object files
*.o
# Linux libraries
*.a
*.so
# Windows libraries
*.lib
*.dll
# Default image path
disk.image
# Executables
*.exe
*.out
*.app
# UNIX/Linux/Mac Executable
/src/bmfs
/src/bmfs-cat
/src/bmfs-cp
/src/bmfs-create
/src/bmfs-init
/src/bmfs-ls
/src/bmfs-rm
/src/bmfs-fuse
/src/disk-test
/src/dir-test
/src/path-test
/src/sspec-test
# Mac crap
.DS_Store
# Doxygen crap
/doc/html
/doc/man
/doc/latex
